<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>copyright</key>
    <string>ETBembo designed for Eward Tufte / Graphics Press \(c\) 2002 Dmitry Krasny / Deka Design</string>
    <key>familyName</key>
    <string>ETBembo</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>postscriptBlueFuzz</key>
    <integer>1</integer>
    <key>postscriptBlueScale</key>
    <real>0.01627</real>
    <key>postscriptBlueShift</key>
    <integer>7</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-19</integer>
      <integer>0</integer>
      <integer>420</integer>
      <integer>438</integer>
      <integer>650</integer>
      <integer>670</integer>
      <integer>728</integer>
      <integer>735</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptFontName</key>
    <string>ETBembo-BoldLF</string>
    <key>postscriptForceBold</key>
    <true/>
    <key>postscriptFullName</key>
    <string>ETBembo Bold Lining Figures</string>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-260</integer>
      <integer>-249</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>38</integer>
      <integer>39</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>80</integer>
      <integer>96</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-111</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>postscriptWeightName</key>
    <string>Normal</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>1</integer>
  </dict>
</plist>
