<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>space</string>
      <string>yacute</string>
      <string>thorn</string>
      <string>onehalf</string>
      <string>onequarter</string>
      <string>onesuperior</string>
      <string>threequarters</string>
      <string>threesuperior</string>
      <string>twosuperior</string>
      <string>minus</string>
      <string>exclam</string>
      <string>dollar</string>
      <string>percent</string>
      <string>ampersand</string>
      <string>quotesingle</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>asterisk</string>
      <string>comma</string>
      <string>hyphen</string>
      <string>period</string>
      <string>slash</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>less</string>
      <string>equal</string>
      <string>greater</string>
      <string>question</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>bracketleft</string>
      <string>backslash</string>
      <string>bracketright</string>
      <string>grave</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>asciitilde</string>
      <string>aacute</string>
      <string>agrave</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>atilde</string>
      <string>aring</string>
      <string>ccedilla</string>
      <string>eacute</string>
      <string>egrave</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>iacute</string>
      <string>igrave</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>ntilde</string>
      <string>oacute</string>
      <string>ograve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>otilde</string>
      <string>uacute</string>
      <string>ugrave</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>dagger</string>
      <string>degree</string>
      <string>cent</string>
      <string>sterling</string>
      <string>section</string>
      <string>bullet</string>
      <string>paragraph</string>
      <string>registered</string>
      <string>copyright</string>
      <string>trademark</string>
      <string>acute</string>
      <string>dieresis</string>
      <string>infinity</string>
      <string>product</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>ae</string>
      <string>oslash</string>
      <string>questiondown</string>
      <string>exclamdown</string>
      <string>ellipsis</string>
      <string>oe</string>
      <string>endash</string>
      <string>emdash</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>ydieresis</string>
      <string>fraction</string>
      <string>Euro</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>fi</string>
      <string>fl</string>
      <string>daggerdbl</string>
      <string>periodcentered</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>perthousand</string>
      <string>Aacute</string>
      <string>Edieresis</string>
      <string>circumflex</string>
      <string>tilde</string>
      <string>macron</string>
      <string>breve</string>
      <string>dotaccent</string>
      <string>ring</string>
      <string>cedilla</string>
      <string>hungarumlaut</string>
      <string>ogonek</string>
      <string>caron</string>
    </array>
  </dict>
</plist>
