<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>copyright</key>
    <string>ETBembo designed for Eward Tufte / Graphics Press \(c\) 2002 Dmitry Krasny / Deka Design</string>
    <key>familyName</key>
    <string>ETBook</string>
    <key>styleName</key>
    <string>Roman</string>
    <key>styleMapFamilyName</key>
    <string>ETBook</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>postscriptBlueFuzz</key>
    <integer>0</integer>
    <key>postscriptBlueScale</key>
    <real>0.05296</real>
    <key>postscriptBlueShift</key>
    <integer>7</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>415</integer>
      <integer>432</integer>
      <integer>651</integer>
      <integer>667</integer>
      <integer>728</integer>
      <integer>728</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptFontName</key>
    <string>ETBook-Roman</string>
    <key>postscriptForceBold</key>
    <false/>
    <key>postscriptFullName</key>
    <string>ETBook Roman</string>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-3</integer>
      <integer>-13</integer>
      <integer>-263</integer>
      <integer>-279</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>36</integer>
      <integer>38</integer>
      <integer>39</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>80</integer>
      <integer>88</integer>
      <integer>96</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-111</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>postscriptWeightName</key>
    <string>Normal</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>1</integer>
  </dict>
</plist>
