<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>space</string>
      <string>Eth</string>
      <string>eth</string>
      <string>Lslash</string>
      <string>lslash</string>
      <string>Scaron</string>
      <string>scaron</string>
      <string>Yacute</string>
      <string>yacute</string>
      <string>yacute.sc</string>
      <string>Thorn</string>
      <string>thorn</string>
      <string>thorn.sc</string>
      <string>Zcaron</string>
      <string>zcaron</string>
      <string>onehalf</string>
      <string>onethird</string>
      <string>onequarter</string>
      <string>oneeighth</string>
      <string>onesuperior</string>
      <string>twothirds</string>
      <string>twosuperior</string>
      <string>threequarters</string>
      <string>threeeighths</string>
      <string>threesuperior</string>
      <string>fiveeighths</string>
      <string>seveneighths</string>
      <string>brokenbar</string>
      <string>minus</string>
      <string>multiply</string>
      <string>exclam</string>
      <string>exclam.csc</string>
      <string>quotedbl</string>
      <string>numbersign</string>
      <string>dollar</string>
      <string>dollar.csc</string>
      <string>percent</string>
      <string>percent.csc</string>
      <string>ampersand</string>
      <string>ampersand.csc</string>
      <string>quotesingle</string>
      <string>parenleft</string>
      <string>parenleft.csc</string>
      <string>parenright</string>
      <string>parenright.csc</string>
      <string>asterisk</string>
      <string>asterisk.csc</string>
      <string>plus</string>
      <string>comma</string>
      <string>hyphen</string>
      <string>period</string>
      <string>slash</string>
      <string>zero</string>
      <string>zero.lining</string>
      <string>zero.num</string>
      <string>zero.den</string>
      <string>one</string>
      <string>one.lining</string>
      <string>one.num</string>
      <string>one.den</string>
      <string>two</string>
      <string>two.lining</string>
      <string>two.num</string>
      <string>two.den</string>
      <string>three</string>
      <string>three.lining</string>
      <string>three.num</string>
      <string>three.den</string>
      <string>four</string>
      <string>four.lining</string>
      <string>four.num</string>
      <string>four.den</string>
      <string>five</string>
      <string>five.lining</string>
      <string>five.num</string>
      <string>five.den</string>
      <string>six</string>
      <string>six.num</string>
      <string>six.den</string>
      <string>six.lining</string>
      <string>seven</string>
      <string>seven.lining</string>
      <string>seven.num</string>
      <string>seven.den</string>
      <string>eight</string>
      <string>eight.lining</string>
      <string>eight.num</string>
      <string>eight.den</string>
      <string>nine</string>
      <string>nine.lining</string>
      <string>nine.num</string>
      <string>nine.den</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>less</string>
      <string>less.csc</string>
      <string>equal</string>
      <string>equal.csc</string>
      <string>greater</string>
      <string>greater.csc</string>
      <string>question</string>
      <string>question.csc</string>
      <string>at</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>bracketleft</string>
      <string>backslash</string>
      <string>bracketright</string>
      <string>asciicircum</string>
      <string>underscore</string>
      <string>grave</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>a.sc</string>
      <string>b.sc</string>
      <string>c.sc</string>
      <string>d.sc</string>
      <string>e.sc</string>
      <string>f.sc</string>
      <string>g.sc</string>
      <string>h.sc</string>
      <string>i.sc</string>
      <string>j.sc</string>
      <string>k.sc</string>
      <string>l.sc</string>
      <string>m.sc</string>
      <string>n.sc</string>
      <string>o.sc</string>
      <string>p.sc</string>
      <string>q.sc</string>
      <string>r.sc</string>
      <string>s.sc</string>
      <string>t.sc</string>
      <string>u.sc</string>
      <string>v.sc</string>
      <string>w.sc</string>
      <string>x.sc</string>
      <string>y.sc</string>
      <string>z.sc</string>
      <string>braceleft</string>
      <string>braceleft.csc</string>
      <string>bar</string>
      <string>braceright</string>
      <string>braceright.csc</string>
      <string>asciitilde</string>
      <string>asciitilde.csc</string>
      <string>Adieresis</string>
      <string>Aring</string>
      <string>Ccedilla</string>
      <string>Eacute</string>
      <string>Ntilde</string>
      <string>Odieresis</string>
      <string>Udieresis</string>
      <string>aacute</string>
      <string>agrave</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>atilde</string>
      <string>aring</string>
      <string>ccedilla</string>
      <string>eacute</string>
      <string>egrave</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>iacute</string>
      <string>igrave</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>ntilde</string>
      <string>oacute</string>
      <string>ograve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>otilde</string>
      <string>uacute</string>
      <string>ugrave</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>aacute.sc</string>
      <string>agrave.sc</string>
      <string>acircumflex.sc</string>
      <string>adieresis.sc</string>
      <string>atilde.sc</string>
      <string>aring.sc</string>
      <string>ccedilla.sc</string>
      <string>eacute.sc</string>
      <string>egrave.sc</string>
      <string>ecircumflex.sc</string>
      <string>edieresis.sc</string>
      <string>iacute.sc</string>
      <string>igrave.sc</string>
      <string>icircumflex.sc</string>
      <string>idieresis.sc</string>
      <string>ntilde.sc</string>
      <string>oacute.sc</string>
      <string>ograve.sc</string>
      <string>ocircumflex.sc</string>
      <string>odieresis.sc</string>
      <string>otilde.sc</string>
      <string>uacute.sc</string>
      <string>ugrave.sc</string>
      <string>ucircumflex.sc</string>
      <string>udieresis.sc</string>
      <string>dagger</string>
      <string>dagger.csc</string>
      <string>degree</string>
      <string>cent</string>
      <string>sterling</string>
      <string>section</string>
      <string>bullet</string>
      <string>paragraph</string>
      <string>paragraph.csc</string>
      <string>germandbls</string>
      <string>registered</string>
      <string>copyright</string>
      <string>trademark</string>
      <string>acute</string>
      <string>dieresis</string>
      <string>AE</string>
      <string>Oslash</string>
      <string>plusminus</string>
      <string>yen</string>
      <string>mu</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>ae</string>
      <string>ae.sc</string>
      <string>oslash</string>
      <string>oslash.sc</string>
      <string>questiondown</string>
      <string>exclamdown</string>
      <string>logicalnot</string>
      <string>florin</string>
      <string>guillemotleft</string>
      <string>guillemotright</string>
      <string>ellipsis</string>
      <string>uni00A0</string>
      <string>Agrave</string>
      <string>Atilde</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>oe</string>
      <string>oe.sc</string>
      <string>endash</string>
      <string>emdash</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>divide</string>
      <string>ydieresis</string>
      <string>Ydieresis</string>
      <string>ydieresis.sc</string>
      <string>fraction</string>
      <string>fraction.frac</string>
      <string>Euro</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>f_i</string>
      <string>f_l</string>
      <string>daggerdbl</string>
      <string>periodcentered</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>perthousand</string>
      <string>perthousand.csc</string>
      <string>Acircumflex</string>
      <string>Ecircumflex</string>
      <string>Aacute</string>
      <string>Edieresis</string>
      <string>Egrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Igrave</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Ograve</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Ugrave</string>
      <string>dotlessi</string>
      <string>circumflex</string>
      <string>tilde</string>
      <string>macron</string>
      <string>breve</string>
      <string>dotaccent</string>
      <string>ring</string>
      <string>cedilla</string>
      <string>hungarumlaut</string>
      <string>ogonek</string>
      <string>caron</string>
      <string>currency</string>
      <string>fi</string>
      <string>fl</string>
      <string>f_f</string>
      <string>f_f_i</string>
      <string>f_f_l</string>
    </array>
  </dict>
</plist>
